// Jade-bootstrap:
//- Including Icon mixins
include ../node_modules/jade-bootstrap/components/icons
//- Including Alert mixins
include ../node_modules/jade-bootstrap/components/alerts
//- Including Tooltip mixins
include ../node_modules/jade-bootstrap/components/tooltips
//- Including Accordion mixins
include ../node_modules/jade-bootstrap/components/accordion
//- Including Carousel mixins
include ../node_modules/jade-bootstrap/components/carousel
//- Including Table mixins
include ../node_modules/jade-bootstrap/components/tables
//- Including Navbar mixins
include ../node_modules/jade-bootstrap/components/navbar
//- Including Toggle Button mixins
include ../node_modules/jade-bootstrap/components/toggle
//- Including Nav mixins
include ../node_modules/jade-bootstrap/components/navs
//- Including Label mixins
include ../node_modules/jade-bootstrap/components/labels
//- Including Panel mixins
include ../node_modules/jade-bootstrap/components/panels
//- Including Tab mixins
include ../node_modules/jade-bootstrap/components/tabs
//- Including Dropdown mixins
include ../node_modules/jade-bootstrap/components/dropdowns
//- Including Form control mixins
include ../node_modules/jade-bootstrap/components/forms
//- Including Modal dialog mixins
include ../node_modules/jade-bootstrap/components/modal
//- Including List group mixins
include ../node_modules/jade-bootstrap/components/list-groups
//- Including Progress bar mixins
include ../node_modules/jade-bootstrap/components/progress-bars
//- Including Button mixins
include ../node_modules/jade-bootstrap/components/buttons
//- Including Image mixins
include ../node_modules/jade-bootstrap/components/images
//- Including Bootswatch theme mixins
include ../node_modules/jade-bootstrap/components/bootswatch

// Basic layout:
doctype html
html(lang="en")
  head
    // General:
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    meta(name="description",content="")
    meta(name="author",content="")
    // Favicon:
    link(rel='apple-touch-icon', sizes='60x60', href=faviconPath+'apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href=faviconPath+'apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href=faviconPath+'apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href=faviconPath+'apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href=faviconPath+'apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href=faviconPath+'apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href=faviconPath+'apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href=faviconPath+'apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href=faviconPath+'android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href=faviconPath+'favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href=faviconPath+'favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href=faviconPath+'favicon-16x16.png')
    link(rel='icon',href=faviconPath+'favicon.ico')
    link(rel='manifest', href=faviconPath+'manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content=faviconPath+'ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    // Title:
    title= title
    // Refs:
    block refs
      script(src='/javascripts/menu/modernizr.js')
      link(rel='stylesheet', href='/stylesheets/reset.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-3.3.4.min.css')
      // -- Hosted alternatives --
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700', rel='stylesheet', type='text/css')
        link(rel='stylesheet',href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
  body(data-spy="scroll",data-target=".scrollspy")
    block body
      block content
    block scripts
      script(src=librariesPath+'jquery-2.1.4.min.js')
      script(src=librariesPath+'bootstrap-3.3.4.min.js')
      script(src='/javascripts/menu/jquery.menu-aim.js')
      script(src='/javascripts/menu/main.js')
      // -- Hosted alternatives --
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')